



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



header {
    background-color: #888888;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

.header-text {
        /* Animasyon uygulaması */
        animation: slideFromRight 2s ease-out forwards; /* 2 saniye süreyle, ease-out zamanlama fonksiyonuyla ve animasyon sonunda son durumda kalacak şekilde */
        transform: translateX(100%); /* Başlangıçta ekranın dışında */
    }

nav {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
nav button {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    margin: 5px; 
    text-align: center;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s; 
}
nav button:active {
    background-color: #777; 
    color: #fff; 
}


section {
    padding: 2em;
    background-color: white;
    margin: 1em 0;
}

section h2{
        text-align: center;
}

section img {
    width: 850px; 
    height:400px; 
    object-fit: cover; 
    display: block; 
    margin: 40px auto; 
    border: #333;
    border-radius: 10px;
}



section p {
    text-align: center;
    font-size: 20px;
    font-family:  'Nunito Sans', sans-serif;
}

section p:nth-of-type(1) {
    color: #A67D3D; /* Vintage Gold */
}

section p:nth-of-type(2) {
    color:#804E49; /* Vintage Red */
}

section p:nth-of-type(3) {
    color: #4E6E58; /* Vintage Green */
}

section p:nth-of-type(4) {
    color: #6B4E71; /* Vintage Purple */
}

section p:nth-of-type(5) {
    color: #3D5C5C; /* Vintage Teal */
}

section p:nth-of-type(6) {
    color: #7B7554; /* Vintage Brown */
}

section p:nth-of-type(7) {
    color: #3E4C6D; /* Vintage Blue */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

table {
    width: 80%; 
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px; 
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #555;
}

/* Animasyon tanımı */
@keyframes slideFromRight {
    from {
        transform: translateX(100%); /* Başlangıçta ekranın dışında */
    }
    to {
        transform: translateX(0); /* Animasyon sonunda ekranın içinde */
    }
}


/* Yıldız Stili */
#ratingSection i {
    font-size: 30px; /* Yıldız boyutu */
    margin-right: 10px; /* Yıldızlar arasında boşluk */
    cursor: pointer; /* Yıldızın üzerine gelindiğinde imlecin şeklini el şekline dönüştür */
    transition: color 0.3s; /* Yıldızın renginin değişim animasyonu */
    color: gold
}

#ratingSection i:hover {
    color: white; /* Yıldızın üzerine gelindiğinde rengi */
}



/* 1950'ler Tarzı Rate Me Butonu */
#rateButton {
    background-color: #FFB6C1; /* Pastel pembe */
    border: none;
    border-radius: 15px; /* Yuvarlatılmış köşeler */
    padding: 10px 20px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace; /* Retro bir yazı tipi */
    font-size: 20px;
    font-weight: bold; /* Kalın yazı tipi */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Düğmeye tıklanıldığında renk değişimi için animasyon */
}

#rateButton:hover {
    background-color: #FF69B4; /* Düğmenin üzerine gelindiğinde daha koyu bir pembe */
}

#printButton {
    background-color: #FFB6C1; /* Pastel pembe */
    border: none;
    border-radius: 15px; /* Yuvarlatılmış köşeler */
    padding: 10px 20px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace; /* Retro bir yazı tipi */
    font-size: 20px;
    font-weight: bold; /* Kalın yazı tipi */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Düğmeye tıklanıldığında renk değişimi için animasyon */

}

#printButton:hover {
    background-color: #FF69B4; /* Butonun üzerine gelindiğinde arka plan rengi */
}
